CREATE TABLE Country (CountryID VARCHAR(2) NOT NULL, Name_es NVARCHAR(64) NOT NULL, Name_en NVARCHAR(64) NOT NULL, PRIMARY KEY (CountryID));

INSERT [dbo].[Country] ([CountryID], [Name_es], [Name_en]) VALUES (N'AD', N'Andorra', N'Andorra')

INSERT [dbo].[Country] ([CountryID], [Name_es], [Name_en]) VALUES (N'AE', N'Emiratos Árabes Unidos', N'United Arab Emirates')

INSERT [dbo].[Country] ([CountryID], [Name_es], [Name_en]) VALUES (N'AF', N'Afganistán', N'Afghanistan')




















































































































































































































































